@page
@model Ticket_Hive.UI.Pages.Member.AdminPageModel
@{
    ViewData["Title"] = "Admin Page";
}
<h1>Admin</h1>

<!--Button Create Event & Delete Event-->


<form method="post">
    <button style="background-color:#305076; color: #fbe89c" class="mt-5 rounded-2" type="submit">Create Event</button>

    <button style="background-color:#305076; color: #fbe89c" class="mt-5 rounded-2" type="submit">Delete Event</button>
</form>




