@page
@using Ticket_Hive.Data.Models;
@model Ticket_Hive.UI.Pages.Member.BookingPageModel
@{
	bool showSearchResults = !string.IsNullOrEmpty(Model.search);
}
<style>
	body {
		background-color: #fbe89c;
		margin: 10px;
	}

	a:hover {
		cursor: pointer;
	}


	a {
		text-decoration: none;
		color: #305076;
	}

	.EventInfo {
		height: 40px;
		padding: 0 30px;
		font-size: 30px;
		text-align: center;
	}

	.MarginFix {
		margin-bottom: 25px;
		margin-top: 25px;
	}

	.SortBar span {
		display: inline-block;
		width: 14%;
		text-align: center;
	}

	.EventInfo .name {
		width: 14%;
		display: inline-block;
		text-align: center;
	}

	.EventInfo .type {
		width: 14%;
		display: inline-block;
		text-align: center;
	}

	.EventInfo .location {
		width: 14%;
		display: inline-block;
		text-align: center;
	}

	.EventInfo .price {
		width: 14%;
		display: inline-block;
		text-align: center;
	}

	.EventInfo .date {
		width: 14%;
		display: inline-block;
		text-align: center;
	}

	.events-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.event-card {
		flex-basis: 33.33%;
		max-width: 300px;
		padding: 10px;
		box-sizing: border-box;
	}
	.searchbar-size{
		width: 500px;
		height: 50px;
		text-size-adjust:auto;

	}

</style>


<input class="searchbar-size"id="search-bar" type="text">
<div><button id="sort-button">Sort by Name</button></div>
<div><button id="sortprice-button">Sort by Price</button></div>
@*<div><button id="sortdate-button">Sort by Date</button></div>
*@<div id="output"></div>


<script>
	// Variables
	let allEvents;

	// Selectors
	let searchBar = document.querySelector("#search-bar");
	let sortButton = document.querySelector("#sort-button");
	let sortPriceButton = document.querySelector("#sortprice-button");
	let sortDateButton = document.querySelector("#sortdate-button")

	
	// Event listeners
	searchBar.addEventListener("input", filterEvents)
	
    sortButton.addEventListener("click", sortEvents);
	sortPriceButton.addEventListener("click", sortPriceEvents);
	//sortDateButton.addEventListener("click", sortDateEvents);

	

	// Function calls
	getEvents();

	// Functions
	function sortEvents() {
		allEvents.sort((a, b) => a.name.localeCompare(b.name));
		displayData(allEvents);
	}

	function sortPriceEvents() {
		allEvents.sort((a, b) => parseFloat(a.price) - parseFloat(b.price));
		displayData(allEvents);
	}

	//function sortDateEvents() {
	//	allEvents.sort((a, b) => new Date(a.dateTime) - new Date(b.dateTime));
	//	displayData(allEvents);
	//}

	function filterEvents(e) 
	{
		let searchTerm = e.target.value.toLowerCase();

		let filteredEvents = allEvents.filter(e => 
		{
			if(e.name.toLowerCase().includes(searchTerm) || e.location.toLowerCase().includes(searchTerm) || e.eventType.toLowerCase().includes(searchTerm)) 
			{
				return true;
			}
		})

		displayData(filteredEvents);
	}

	function getEvents() {
		fetch("/api/events").then(res => res.json()).then(data => 
		{ 
			allEvents = data;
			displayData(allEvents); 
		});
	}

	function displayData(events) {


		let output = '<h2>Events</h2>';
		output += '<div class="events-container">';	
		events.forEach(function (event) {
			let eventDate = event.dateTime.substring(0, 16).replace("T", " ");
			output += `
					<div class="event-card p-3 m-2 border border-2 border-dark">
								<h2 class="mb-2 event-name" data-id="${event.id}">${event.name}</h2>
							<div>
								<label class="fw-bold">Type:</label>
								<p class="">${event.eventType}</p>
							</div>
							<div>
								<label class="fw-bold">Location:</label>
								<p class="">${event.location}</p>
							</div>
							<div>
								<label class="fw-bold">Price:</label>
								<p class="">${event.price}</p>
							</div>
							<div>
								<label class="fw-bold">Date:</label>
								<p class="">${eventDate}</p>
							</div>
						</div>`

		});

		output += '</div>';

		document.getElementById('output').innerHTML = output;

		
		let eventDivs = document.querySelectorAll(".event-name");
		eventDivs.forEach(function (div) {
			div.addEventListener("click", function () {
				let eventId = this.getAttribute("data-id");
				window.location.href = "/member/evenemang?id=" + eventId;
			});
		});
	}			
</script>











