@page
@model ChangePasswordModel
<nav class="navbar navbar-expand-sm">
    <a asp-page="./Home" class="btn btn-primary me-1">Home</a>

    <a asp-page="./BookingPage" class="btn btn-primary me-1">Show Events</a>
    <a asp-page="./ShoppingCartPage" class="btn btn-primary me-1">Shopping Cart</a>
    <a asp-page="./ChangePassword" class="btn btn-primary me-1">User Page</a>

    <form method="post" asp-page-handler="SignOut">
        <button class="btn btn-primary" type="submit">Sign Out</button>
    </form>
</nav>
@{
    ViewData["Title"] = "Change Password";
}

<h1>@ViewData["Title"]</h1>


<div class="container">
    @if (!string.IsNullOrEmpty(Model.AlertMessage))
    {
        <div class="alert alert-@Model.AlertType" role="alert">
            @Model.AlertMessage
        </div>
    }

    <form method="post">
        <div class="form-group">
            <label asp-for="Input.CurrentPassword">Current Password</label>
            <input asp-for="Input.CurrentPassword" class="form-control w-50" />
            <span asp-validation-for="Input.CurrentPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.NewPassword">New Password</label>
            <input asp-for="Input.NewPassword" class="form-control w-50" />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
            <input asp-for="Input.ConfirmPassword" class="form-control w-50" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
        <a asp-page="./Home" class="btn btn-primary">Back</a>
    </form>
     
</div>