@page
@model Ticket_Hive.UI.Pages.Member.ConfirmationPageModel
@{
}

<style>
    body{
        background-color: #fbe89c;
    }
    .blueColor{
        color: #305076;
    }
    .btn {
        background-color: #305076;
        border-color: #305076;
        color: #fbe89c;
        margin-top: 10px;
    }

    
</style>

<div class="container">
    <h1 class="display-3 blueColor mt-3">Confirmation</h>
        <br />
        <a class="btn btn-primary">Booking Page</a>
</div>



