@page
@model Ticket_Hive.UI.Pages.Member.ConfirmationPageModel
@{
}

<style>
    .blueColor{
        color: #305076;
    }
    .btn {
        background-color: #305076;
        border-color: #305076;
        color: #fbe89c;
        margin-top: 10px;
    }
</style>

<div class="container">
    <h1 class="display-3 blueColor">Confirmation</h>
        <button class="btn btn-primary"></button>
</div>



