@page
@model Ticket_Hive.UI.Pages.Member.ShoppingCartPageModel
@{
}


<div class="text-center">
    <div> 
        <form method="post">
        <table>
            <tr>
                <td>Event</td>
                <td>NbrOfTickets</td>
            </tr>
            @foreach (var item in Model.ShoppingCart.Bookings)
            {
                <tr>
                    <td>@item.Event.Name</td>
                    <td><input type="number" min="0" max="@Model.eventManager.TicketsLeft(item.Event)" value="@item.NbrOfTickets" asp-for="@item.NbrOfTickets"/></td>
                </tr>
            }
            <input type="submit" value="Go To Check Out" />
        </table>
        </form>
    </div>    
</div>