@page "/CreateEvent"
@model Ticket_Hive.UI.Pages.AppPages.CreateEventModel
@{
}

<form>
    <div class="form-group row">
        <label style="font-weight:bold" for="eventName" class="col-sm-3 col-form-label">Event Name:</label>
        <div class="col-sm-3">
            <input type="text" id="eventName" name="eventName" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <label style="font-weight:bold" for="eventType" class="col-sm-3 col-form-label">Event Type:</label>
        <div class="col-sm-3">
            <input type="text" id="eventType" name="eventType" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <label style="font-weight:bold" for="eventDate" class="col-sm-3 col-form-label">Event Date:</label>
        <div class="col-sm-3">
            <input type="date" id="eventDate" name="eventDate" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <label style="font-weight:bold" for="eventTime" class="col-sm-3 col-form-label">Event Time:</label>
        <div class="col-sm-3">
            <input type="time" id="eventTime" name="eventTime" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <label style="font-weight:bold" for="eventLocation" class="col-sm-3 col-form-label">Event Location:</label>
        <div class="col-sm-3">
            <input type="text" id="eventLocation" name="eventLocation" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <label style="font-weight:bold" for="ticketPrice" class="col-sm-3 col-form-label">Ticket Price:</label>
        <div class="col-sm-3">
            <input type="number" id="ticketPrice" name="ticketPrice" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <label style="font-weight:bold" for="eventCapacity" class="col-sm-3 col-form-label">Event Capacity:</label>
        <div class="col-sm-3">
            <input type="number" id="eventCapacity" name="eventCapacity" class="form-control" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Create Event</button>
</form>
