@page "/Register"
@model Ticket_Hive.UI.Pages.RegistreringsSidaModel
@{
}
	<div class="container">
    <h1 class="display-3 mt-3 blueColor">Register</h1>
	<form method="post" onsubmit="return validateForm()">
		<div class="form-group">

			<label for="username-input" class="blueColor">Username:</label>
			<input class="form-control w-50" id="username-input" type="text" asp-for="Username" />
			<span asp-validation-for="@Model.Username" class="text-danger" ></span>
			<br />

			<label for="password-input" class="blueColor">Password:</label>
			<input class="form-control w-50" id="password-input" type="password" asp-for="Password" />
			<span asp-validation-for="@Model.Password" class="text-danger"></span>
			<br />

			<button type="submit" class="btn margin-top">Register</button>
		</div>
	</form>
	</div>
