html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        color: #305076;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
input {
    border: 2px;
    border-color: #305076;
    border-radius: 10px;
}
.btn {
    background-color: #305076;
    border-color: #305076;
    color: #fbe89c;
}
    .btn:hover {
        transition: 0.5s;
        transform: scale(1.2);
    }

body {
    margin-bottom: 60px;
    background-color: #fbe89c;

}
.custom-card {
    background-color: #fbe89c;
}

.sold-out {
    color: red;
}
.event-card {
    cursor: pointer;
}
.btn {
    background-color: #305076;
    border-color: #305076;
    color: #fbe89c;
    margin-top: 10px;
}
.blueColor {
    color: #305076;
}

.blackLogo {
    max-width: 100px;
}
.margin-top {
    margin-top: 10px;
}
.margin-right {
    margin-right: 10px;
}
.margin-bottom {
    margin-bottom: 10px;
}
.margin-left {
    margin-left: 10px;
}

.logo {
    margin: 50px auto;
    display: block;
    max-width: 400px;
}
.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.pictureSizeBig {
    width: 200px;
    height: 200px;
}

.confirmed-bookings-container {
            position: absolute;
            top: 0;
            right: 0;
            width: 30%;
            padding-right: 20px;
        }
a:hover {
    transition: 0.5s;
    transform: scale(1.2);

}

.EventInfo {
    height: 40px;
    padding: 0 30px;
    font-size: 20px;
    text-align: center;
}

.SortBar span {
    display: inline-block;
    width: 14%;
    text-align: center;
}



.EventInfo .name {
    width: 14%;
    display: inline-block;
    text-align: center;
}

.EventInfo .type {
    width: 14%;
    display: inline-block;
    text-align: center;
}

.EventInfo .location {
    width: 14%;
    display: inline-block;
    text-align: center;
}

.EventInfo .price {
    width: 14%;
    display: inline-block;
    text-align: center;
}

.EventInfo .date {
    width: 14%;
    display: inline-block;
    text-align: center;
}

.pictureSizeHome {
    width:350px;
    height:220px;
}