@page
@model IndexModel


<div class="text-center">
    <h1 class="display-4">Ticket Hive</h1>
</div>

<div class="row">
   <div class="col-4">
       Sign In: 
   </div>
   <div class="col-6">

   </div>
</div>
