@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Welcome to Ticket Hive</title>
	<style>
					 .logo {
							  margin: 50px auto;
							  display: block;
							  max-width: 400px;

		}

					 .btn-container {
							  display: flex;
							  flex-wrap: wrap;
							  justify-content: center;
							  margin-top: 50px;

		}

					 .btn-primary {
							  background-color: #305076;
							  border-color: #305076;
							  color: #fbe89c;
							  margin-right: 10px;

		}

					 .btn-secondary {
							  background-color: #305076;
							  border-color: #305076;
							  color: #fbe89c;
							  margin-left: 10px;

		}

					body {
							  background-color: #fbe89c;

		}

	</style>
</head>
<body>
	<div class="container">
		<img src="Images/logos/black.png" alt="Logotyp" class="logo">
		<div class="btn-container">
			<a href="/SignIn" class="btn btn-primary">Sign In</a>
			<a href="/Register" class="btn btn-secondary">Register</a>
		</div>
	</div>
</body>
