@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Welcome to Ticket Hive</title>
	
</head>
<body>
	<div class="container">
		<img src="Images/logos/black.png" alt="Logotyp" class="logo">
		<div class="btn-container">
			<a href="/SignIn" class="btn margin-right">Sign In</a>
			<a href="/Register" class="btn margin-left">Register</a>
		</div>
	</div>
</body>
